.header {
  background-color: gray;
  width: auto;
  height: 500px;
}
.img-h {
  float: left;
}
.img-b {
  width: 320px;
  height: 320px;
  position: relative;
}
.info {
  margin-top: 195px;
}
.shubh {
  font-size: 60px;
  border-bottom: 5px solid #fff;
}
.soft {
  font-size: 40px;
}
.img-b .border {
  /* content: ''; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 50%;
  border: 5px dashed #9b9292 !important;
  animation-name: Rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.img-b {
  margin-top: -7px;
  top: 80px;
}
.kumar {
  color: #ffff;
}
.img-h {
  padding: -11px;
  width: 300px;
  margin: 9px;
  height: 300px;
  border-radius: 50%;
  /* font-size: 12px !important; */
  box-shadow: 10px 10px 10px 10px;

  text-align: center;
}
@keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@media screen and (orientation: landscape) {
  .info {
    margin-top: -128px;
    margin-left: 397px;
  }
}
@media only screen and (max-width: 600px) {
  .info {
    margin-top: -128px;
  }
  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .img-b {
    margin-left: 29px;
  }
  .soft {
    font-size: 20px !important;
  }
  .info {
    margin-top: 104px !important;
    margin-left: 33px;
  }
  .shubh {
    font-size: 30px !important;
  }
  .info {
    font-size: 20px !important;
  }
  .img-b {
    width: 250px;
    height: 250px;
    position: relative;
  }
  .img-h {
    padding: -11px;
    width: 249px;

    margin: 1px;
    height: 249px;
    border-radius: 50%;
    /* font-size: 12px !important; */
    box-shadow: 10px 10px 10px 10px;

    text-align: center;
  }
  .img-b .border {
    /* content: ''; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    border-radius: 50%;
    border: 5px dashed #9b9292 !important;
    animation-name: Rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
