.header {
  background-color: gray;
}
.info-img {
  padding: 75px 0px;
}
.row {
  /*margin-left: 0px !important;
  margin-right: 0px !important;*/
}
.img-b {
  width: 350px;
  height: 350px;
  position: relative;
  text-align: center;
}
.img-b .intro-pic-border {
  /* content: ''; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 50%;
  border: 5px dashed #e5e1e1 !important;
  animation-name: Rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: Rotate;
}
.info {
  margin-top: 15%;
}
.firstName {
  font-size: 4rem;
  border-bottom: 5px solid #fff;
  /*margin-left: 99px;*/
}
.lastName {
  color: #ffff;
}
.designation {
  font-size: 2rem;
  margin-left: 40px;
}

.img-h {
  height: 349px;
  width: 349px;
  box-shadow: 5px 5px 5px 5px #3e3c3c;
  border-radius: 50%;
  text-align: center;
}
@keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .img-b {
    width: 250px;
    height: 250px;
    margin-left: 20px;
    position: relative;
  }
  .img-b .border {
    /* content: ''; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    border-radius: 50%;
    border: 5px dashed #e5e1e1 !important;
    animation-name: Rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: Rotate;
  }
  .img-h {
    height: 249px;
    width: 249px;
    box-shadow: 5px 5px 5px 5px #3e3c3c;
    border-radius: 50%;
    text-align: center;
  }
  .shubh {
    font-size: 2rem;
    border-bottom: 3px solid #fff;
    margin-left: 0px;
  }
  .soft {
    font-size: 1.5rem;
    margin-left: 5px;
  }
}
